body {
	background: #fff;
	font-family: arial, serif;
	font-size: 13px;
    line-height: 1.3em;
	margin: 0;
	padding: 0;
	position: relative;
}

a {
	outline: none;
}

a img {
    border: none;
}

p {
	margin: 20px 0;
}

ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.kickstarterWrapper {
	margin: 40px auto;
	padding: 0;
	width: 800px;
}

.kickstarterWrapper .cta {
	font-size: 24px;
	line-height: 36px;
	padding-bottom: 20px;
	text-align: center;
}

.fb-post {
	display: block!important;
	margin: 0 auto 20px!important;
	position: static!important;
	width: 560px!important;
}

.youtubeIframe {
	display: block;
	margin: 0 auto 20px;
}

.audioPlayer {
	margin: 20px auto;
	padding: 0;
	width: 400px;
}

.page {
	margin: 0;
	overflow: hidden;
    padding: 97px 0 65px;
	width: 100%;
	position: relative;
	z-index: 100;
}

.illustration {
	position: fixed;
	z-index: 50;
}

.right {
	right: 0;
}

.left {
	left: 0;
}

.top {
	top: 0;
}

.illustration.top {
	top: 88px;
}

.bottom {
	bottom: 0;
}

.illustration.bottom {
	bottom: 44px;
}

.bandLogo {
    left: 30px;
    position: absolute;
    top: 15px;
}

.secondNav {
    font-family: helvetica;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
	margin: 45px 0;
	padding: 0;
    text-align: left;
}

.mainNav {
	background: rgba(250,250,250,0.95);
	border-bottom: 1px solid #eee;
    color: #761213;
    font-family: helvetica;
    font-size: 24px;
	height: 28px;
	left: 0;
    line-height: 28px;
	margin: 0 auto;
	padding: 30px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}

.mainNav .dropDownButton2,
.mainNav .dropDownButton {
	display: none;
}

.mainNav .pageLinks {
	padding-left: 270px;
}

.mainNav .pageLink {
	float: left;
	padding: 0 20px;
	text-align: center;
	width: 100px;
}

.mainNav span.active {
    font-weight: bold;
}

.mainNav a {
	border: none;
    color: #761213;
    cursor: pointer;
	text-decoration: none;
}

.mainNav a img {
	display: block;
	margin: 0;
	padding: 0;
}

.pageContent {
    margin: 0;
	padding: 0 20px;
}

.homePage .pageContent {
    margin: 0 auto 0 auto;
}

.showsPage .pageContent {
	padding-right: 400px;
}

.connectPage .pageContent,
.aboutPage .pageContent,
.photosPage .pageContent,
.linksPage .pageContent {
	padding-right: 20px;
	padding-left: 400px;
}

.mainFooter {
	background: rgba(250,250,250,0.95);
	border-top: 1px solid #eee;
	bottom: 0;
	height: 43px;
	left: 0;
	opacity: 0.95;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 200;
}

.social_and_list {
	margin: 0 auto;
	width: 6200px;
}

.social_links {
	float: left
}

.social_wrapper {
    float: left;
    padding: 10px 5px 0;
}

.mailing_list {
	float: right;
	padding: 10px 0 0;
}

#mc_embed_signup .mc-field-group {
	float: left;
}

#mc_embed_signup .mc-field-group input {
	border: 1px solid #aaa;
	font-size: 12px;
	height: 16px;
	padding: 2px;
	width: 120px;
}

#mc_embed_signup .button {
	background: #555;
	border: none;
	color: #eee;
	float: left;
	font-size: 12px;
	height: 22px;
	padding: 0 10px;
}

.mainFooter .contact_email {
	float: right;
	font-size: 12px;
	line-height: 20px;
	padding: 10px 10px 0;
}

span.statcounter {
	bottom: 0;
	position: absolute;
}

/* page specific */

/* shows */

.showsList {
	margin: 0 0 40px 0;
	padding: 0;
}

.showsList ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.showsList li {
	margin: 20px 0 0 0;
	padding: 0;
}

.showsList li.old {
	color: #ccc;
}

.showsList li.veryImportantShow {
    font-size: 21px;
    line-height: 29px;
    padding-top: 50px;
}

.showsList li.veryImportantShow .showMoreInfo {
    font-size: 18px!important;
}

.showTimeLocation {
	margin: 0;
	padding: 0;
}
.showMoreInfo {
	font-size: 12px;
}

/* end of shows */

/* discography */

#colorblind,
#egoist,
#egoistLE,
#debut {
    margin: 0 auto;
    padding: 20px 10px 0 0;
}

.albumDetailsWrapper {
    float: left;
	padding: 0 20px 0 0;
}

#egoistLE .albumDetailsWrapper {
    clear: both;
    width: 100%;
}

.albumCover img {
    border: solid 1px #000000;
}

#egoistLE .albumCover {
    float: left;
}

.egoistLEDescription {
    float: left;
    width: 430px;
    padding: 0 0 0 20px;
}

.egoistLEImages {
    clear: both;
    float: left; 
    margin: 40px 0 0 0;
    width: 670px;
}

.egoistLEImages .imageWrapper {
    float: left;
    padding: 0 10px 10px 0;
}

.egoistLEImages img {
    border: solid 1px #000000;
    margin: 0;
    padding: 0;
}

/* end of discography */

/* photos */

.photosPage ul {
    list-style-type: none;
    margin: 40px 0 0 0;
    padding: 0;
}

/* end of photos */

/* videos */

.videosPage li {
	float: left;
	height: 225px;
	padding-right: 10px;
	width: 330px;
}

.videosPage li p {
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 330px;
}

.videosPage .videosFooter {
	clear: both;
	padding: 40px 0;
}

/* end of videos*/

/* video */

.videoPlayer {
	margin: 20px auto 0;
	padding: 20px 0;
	width: 640px;
}

/* end of video*/

/* about */

#lineUp {
	margin: 20px 0;
}

/* end of about */

/* links */

.linksPage .page .music li {
    background: #ffffff;
    float: left;
    width: 200px;
}

/* end of links */

/* toggling */

.toggleLink {
    cursor: pointer;
    text-decoration: underline;
}

.toggleLink.active {
    cursor: default;
    text-decoration: none;
    text-transform: uppercase;
}

.toggleContent {
    display: none;
}

.toggleContent.active {
    display: block;
}

