		<div class="social_links">
			<div class="social_wrapper twitter_wrapper">
				<a href="http://www.twitter.com/varonasf"><img src="http://twitter-badges.s3.amazonaws.com/twitter-a.png" alt="Follow varonasf on Twitter"/></a>
			</div>
			<div class="social_wrapper fb_wrapper">
				<div id="fb-root"></div>
				<div class="fb-like" data-href="https://www.facebook.com/pages/Varona/19280523056" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
			</div>
			<div class="social_wrapper">
				<div class="g-page" data-href="//plus.google.com/u/0/114938413860487312834" data-layout="landscape" data-rel="publisher"></div>
			</div>
			<div class="social_wrapper">
				<iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="114" src="http://platform.tumblr.com/v1/follow_button.html?button_type=2&tumblelog=varonasf&color_scheme=dark"></iframe>
			</div>
		</div>
		<div class="mailingList">
			Join our mailing list:
			<!-- BEGIN: Constant Contact Basic Opt-in Email List Form -->
			<div align="left">
				<table border="0" cellspacing="0" cellpadding="3" bgcolor="#ffffff">
					<tr>
						<td align="left">
							<form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:2;">
								<input type="hidden" name="m" value="1102441164509" />
								<input type="hidden" name="p" value="oi" />
								<input id="email" type="text" name="ea" size="20" value="" />
								<input type="submit" name="go" value="Go" class="submit" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10pt;" />
							</form>
						</td>
					</tr>
				</table>
			</div>
			<!-- END: Constant Contact Basic Opt-in Email List Form -->
			<!-- BEGIN: SafeSubscribe -->
			<div align="left"> 
				<a href="http://www.constantcontact.com/safesubscribe.jsp" target="_blank"><img src="http://img.constantcontact.com/ui/images1/safe_subscribe_logo.gif" border="0" width="168" height="14" alt=""/></a>
			</div>
			<!-- END: SafeSubscribe -->
		</div>

		<p>Drop us a line: <a href="mailto:varonasf@gmail.com">varonasf@gmail.com</a></p>
