<!--<div class="secondNav">
	<span class="toggleLink active" linkto="colorblind">colorblind (2010)</span>
	<span class="toggleLink" linkto="egoist">egoist (2009)</span>
	<span class="toggleLink" linkto="egoistLE">egoist l.e. (2009)</span>
	<span class="toggleLink" linkto="debut">varona (2007)</span>
</div>-->

<div class="pageContent">

	<div id="colorblind" class="toggleContent active">

		<div class="albumDetailsWrapper">
			<iframe style="border: 0; width: 300px; height: 810px;" src="https://bandcamp.com/EmbeddedPlayer/album=1820484538/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://music.varonaband.com/album/a-part-of-your-soul">A Part of Your Soul by Varona</a></iframe>
		</div>
		<div class="albumDetailsWrapper">
			<iframe style="border: 0; width: 300px; height: 810px;" src="https://bandcamp.com/EmbeddedPlayer/album=2612251470/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://music.varonaband.com/album/colorblind">Colorblind by Varona</a></iframe>
		</div>
		<div class="albumDetailsWrapper">
			<iframe style="border: 0; width: 300px; height: 810px;" src="https://bandcamp.com/EmbeddedPlayer/album=2223570082/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://music.varonaband.com/album/egoist">Egoist by Varona</a></iframe>
		</div>
		<div class="albumDetailsWrapper">
			<iframe style="border: 0; width: 300px; height: 810px;" src="https://bandcamp.com/EmbeddedPlayer/album=3640358641/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://music.varonaband.com/album/varona">Varona by Varona</a></iframe>
		</div>

	</div><!--colorblind end-->

	<div id="egoistLE" class="toggleContent">

		<div class="albumDetailsWrapper">
			<div class="albumCover"><img src="images/thumb-egoistLECover.jpg" alt="" /></div>

			<div class="egoistLEDescription">Artwork, design, and printing by <a href="http://www.vladimirzimakov.com" target="_blank">Vladimir Zimakov</a>.<br/><br/>This is a hand made limited edition of Egoist packaging. 150 copies were printed and we are currently selling only 50. Due to the nature of the process each package is unique with its various "imperfections". Please note that the CD itself (including design and tracklist) is identical to the one in the regular package.<br/><br/>Take a pick at the <a href="http://picasaweb.google.com/vzimakov/Letterpress#" target="_blank">printing process</a>.</div>
		</div>

		<div class="egoistLEImages">
			<div class="imageWrapper">
				<a href="images/photo-egoistDetail1.jpg" target="_blank"><img src="images/thumb-egoistDetail1.jpg" alt=""/></a>
			</div>
			<div class="imageWrapper">
				<a href="images/photo-egoistDetail2.jpg" target="_blank"><img src="images/thumb-egoistDetail2.jpg" alt=""/></a>
			</div>
			<div class="imageWrapper">
				<a href="images/photo-egoistDetail3.jpg" target="_blank"><img src="images/thumb-egoistDetail3.jpg" alt=""/></a>
			</div>
			<div class="imageWrapper">
				<a href="images/photo-egoistDetail4.jpg" target="_blank"><img src="images/thumb-egoistDetail4.jpg" alt=""/></a>
			</div>
			<div class="imageWrapper">
				<a href="images/photo-egoistDetail5.jpg" target="_blank"><img src="images/thumb-egoistDetail5.jpg" alt=""/></a>
			</div>
			<div class="imageWrapper">
				<a href="images/photo-egoistDetail6.jpg" target="_blank"><img src="images/thumb-egoistDetail6.jpg" alt=""/></a>
			</div>
		</div>
	</div><!--egoistLE end-->
</div><!--pageContent end-->

