<div class="pageContent">
	<p>We are very lucky to be friends with so many talanted photographers. Here are the links to pictures from some of our concerts. From the very first show at a cafe at Nob Hill, to Halloween house concert, to The Fillmore's poster room, to live webcast... If you have any photos or videos please email us at <a href="mailto:varonasf@gmail.com">varonasf@gmail.com</a></p>
	<ul>
		<li ng-repeat="link in photos">
			<a ng-href="{{link.url}}" target="_blank">{{link.text}}</a>
		</li>
	</ul>
</div>
