#AddType text/html .shtml
#AddHandler server-parsed .shtml
# Options Indexes FollowSymLinks Includes
DirectoryIndex index.html

#PythonHandler mod_python.publisher

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(.*) /index.html [NC,L]
