<!DOCTYPE html>

<html ng-app="Varona">
<head>
    <title>VARONA - Colorblind is out</title>
    <link rel="stylesheet" media="screen" type="text/css" href="css/styles.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script>
		document.write('<base href="' + document.location + '" />');
	</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <link href="https://plus.google.com/b/114938413860487312834/114938413860487312834/posts" rel="publisher" />
    <script type="text/javascript">
        (function() {
            var po = document.createElement("script");
            po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
</head>

<!--<body ng-controller="ScrollController">-->
<body>

<div class="mainNav">
	<!--<a class="bandLogo" ng-click="goTo('')"><img src="images/logo-varona.gif" alt="VARONA" /></a>
	<span><a ng-click="goTo('')">home</a></span>
	<span><a ng-click="goTo('discography')">discography</a></span>
	<span><a ng-click="goTo('shows')">shows</a></span>
	<span><a ng-click="goTo('about')">about</a></span>
	<span><a ng-click="goTo('network')">connect</a></span>
	<span><a ng-click="goTo('links')">links</a></span>-->
	<a class="bandLogo" href="#"><img src="images/logo-varona.gif" alt="VARONA" /></a>
	<span><a href="#">home</a></span>
	<span><a href="#discography">discography</a></span>
	<span><a href="#shows">shows</a></span>
	<span><a href="#about">about</a></span>
	<span><a href="#network">connect</a></span>
	<span><a href="#links">links</a></span>
</div>

<div class="page homePage">
    <div class="innerWrapper">
        
        <div class="pageContentWrapper">
            <div class="pageContentInnerWrapper  noSecondNav">
                <div class="pageContent">
                    <div class="audioPlayer">
                        <iframe style="border: 0; width: 100%; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=101831135/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="http://music.varonaband.com/album/compilation-2">(compilation) by Varona</a></iframe>
                    </div>
                </div><!--pageContent end-->       
            </div><!--pageContentInnerWrapper  end-->    
        </div><!--pageContentWrapper end-->
    </div>
</div>

<div class="pageSeparator">
    <div class="pageSeparatorLyrics">
        I am the rain, the rain that pours all day &mdash; To me walls, faces, and the streets are all the same &mdash; No matter how clean, I wash it all away &mdash; I am a stone, a stone that stays the same &mdash; And even if I had a brain, I couldn't move away &mdash; And even if I was to move, I'd still be gray &mdash; I am a rainbow, pretty and gay &mdash; But I'm not stable, can't last one day
    </div>
    <a id="discography">.</a>
</div>

<div class="page discographyPage">
    <div class="innerWrapper">
        <!--<div class="secondNav">
            <span class="toggleLink active" linkto="colorblind">colorblind (2010)</span>
            <span class="toggleLink" linkto="egoist">egoist (2009)</span>
            <span class="toggleLink" linkto="egoistLE">egoist l.e. (2009)</span>
            <span class="toggleLink" linkto="debut">varona (2007)</span>
        </div>-->
        
        <div class="pageContentWrapper">
            <div class="pageContentInnerWrapper left">
                <div class="pageContent">

                    <div id="colorblind" class="toggleContent active">

                        <div class="albumDetailsWrapper">
                            <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=2612251470/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://music.varonaband.com/album/colorblind">Colorblind by Varona</a></iframe>
						</div>
                        <div class="albumDetailsWrapper">
                            <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=2223570082/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://music.varonaband.com/album/egoist">Egoist by Varona</a></iframe>
						</div>
                        <div class="albumDetailsWrapper">
							<iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=3640358641/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://music.varonaband.com/album/varona">Varona by Varona</a></iframe>
						</div>

                    </div><!--colorblind end-->

                    <div id="egoistLE" class="toggleContent">

                        <div class="albumDetailsWrapper">
                            <div class="albumCover"><img src="images/thumb-egoistLECover.jpg" alt="" /></div>

                            <div class="egoistLEDescription">Artwork, design, and printing by <a href="http://www.vladimirzimakov.com" target="_blank">Vladimir Zimakov</a>.<br/><br/>This is a hand made limited edition of Egoist packaging. 150 copies were printed and we are currently selling only 50. Due to the nature of the process each package is unique with its various "imperfections". Please note that the CD itself (including design and tracklist) is identical to the one in the regular package.<br/><br/>Take a pick at the <a href="http://picasaweb.google.com/vzimakov/Letterpress#" target="_blank">printing process</a>.</div>
                        </div>

                        <div class="egoistLEImages">
                            <div class="imageWrapper">
                                <a href="images/photo-egoistDetail1.jpg" target="_blank"><img src="images/thumb-egoistDetail1.jpg" alt=""/></a>
                            </div>
                            <div class="imageWrapper">
                                <a href="images/photo-egoistDetail2.jpg" target="_blank"><img src="images/thumb-egoistDetail2.jpg" alt=""/></a>
                            </div>
                            <div class="imageWrapper">
                                <a href="images/photo-egoistDetail3.jpg" target="_blank"><img src="images/thumb-egoistDetail3.jpg" alt=""/></a>
                            </div>
                            <div class="imageWrapper">
                                <a href="images/photo-egoistDetail4.jpg" target="_blank"><img src="images/thumb-egoistDetail4.jpg" alt=""/></a>
                            </div>
                            <div class="imageWrapper">
                                <a href="images/photo-egoistDetail5.jpg" target="_blank"><img src="images/thumb-egoistDetail5.jpg" alt=""/></a>
                            </div>
                            <div class="imageWrapper">
                                <a href="images/photo-egoistDetail6.jpg" target="_blank"><img src="images/thumb-egoistDetail6.jpg" alt=""/></a>
                            </div>
                        </div>
                    </div><!--egoistLE end-->

                </div><!--pageContent end-->        
            </div><!--pageContentInnerWrapper end-->    
        </div><!--pageContentWrapper end-->    
    </div>
</div>

<div class="pageSeparator">
    <div class="pageSeparatorLyrics">
        Birds and fish, caught in the rain &mdash; What an absurd mistake, what a terrible shame &mdash; Absurd mistakes heal a broccoli brain &mdash; Giving a second chance, braking the chain &mdash; And you know it, you got it, you feel it, it is in your veins &mdash; You can smell it, taste it, but don’t remember its name &mdash; Put your arms around, put your legs around, be my shadow &mdash; Wrap your mind around, wrap your lips around, be my shadow
    </div>
    <a id="shows">.</a>
</div>

<div class="page showsPage" ng-controller="ShowsCtrl">
    <div class="innerWrapper">
        <div class="secondNav">
            <!--<span class="toggleLink active" linkto="upcomingShows">upcoming</span>
            <span class="toggleLink" linkto="pastShows">past</span>-->
        </div>
        
        
        <div class="pageContentWrapper">
            <div class="pageContentInnerWrapper left">
                <div class="pageContent" ng-cloak>

                    
                    <div id="upcomingShows" class="showsList toggleContent">
                        <ul>
                        </ul>
                    </div>
                    <div id="pastShows" class="showsList toggleContent active">
                        <ul>
							<li ng-repeat="show in shows">
								<div class="showTimeLocation">
									&#8212; {{show.date}} {{show.time}}  &#8212; {{show.venue.name}} &#8212; {{show.fullAddress}}
								</div>
								<div class="showMoreInfo">
									<span ng-bind-html="show.additionalInfo"></span>
									{{show.artistRelationship}}
									<span ng-repeat="artist in show.artists">
										<span ng-if="$middle">, </span>
										<span ng-if="$last && !$first"> and </span>
										<a ng-if="artist.link" ng-href="{{artist.link}}" target="_blank">{{artist.name}}</a>
										<span ng-if="!artist.link">{{artist.name}}</span>
									</span>
								</div>
							</li>
                        </ul>
                    </div>
                </div><!--pageContent end-->        
            </div><!--pageContentInnerWrapper end-->    
        </div><!--pageContentWrapper end-->    
    </div>
</div>

<div class="pageSeparator">
    <div class="pageSeparatorLyrics">
        Give me a reason, reason to breathe on &mdash; Show me a trace, a trace to erase off my face &mdash; Is there a hole in my wall? &mdash; Is there a flaw in my soul? &mdash; Crawl under the floor &mdash; Try to explore a little more of the other side &mdash; Roll &mdash; into a ball &mdash; Fly high in the sky &mdash; Is there a hole in my wall? &mdash; Is there a flaw in my soul?
    </div>
    <a id="about">.</a>    
</div>

<div class="page aboutPage">
    <div class="innerWrapper">
        <div class="secondNav">
            <span class="toggleLink active" linkto="videos">videos</span>
            <span class="toggleLink" linkto="photos">photos</span>
            <span class="toggleLink" linkto="lineUp">line up</span>
            <span class="toggleLink" linkto="reviews">reviews</span>
        </div>
        
        <div class="pageContentWrapper">
            <div class="pageContentInnerWrapper">
                <div class="pageContent" ng-cloak>

                    <div id="videos" class="toggleContent active">

                        <p>We'll post a short video to our <a href="http://www.youtube.com/varonasf">youtube channel</a> after every rehearsal so that you get to know us better and see what we're up to.</p>

                        <object width="746" height="413"><param name="movie" value="http://www.youtube.com/cp/vjVQa1PpcFMhJE4CQ6iKu_7clPYpplQtJXSPl6UOxTY="></param><embed src="http://www.youtube.com/cp/vjVQa1PpcFMhJE4CQ6iKu_7clPYpplQtJXSPl6UOxTY=" type="application/x-shockwave-flash" width="746" height="413"></embed></object>

                    </div>

                    <div id="photos" class="toggleContent" ng-controller="PhotosCtrl">

                        <p>We are very lucky to be friends with so many talanted photographers. Here are the links to pictures from some of our concerts. From the very first show at a cafe at Nob Hill, to Halloween house concert, to The Fillmore's poster room, to live webcast... If you have any photos or videos please email us at <a href="mailto:varonasf@gmail.com">varonasf@gmail.com</a></p>

                        <ul>
							<li ng-repeat="link in photos">
								<a ng-href="{{link.url}}" target="_blank">{{link.text}}</a>
							</li>
                        </ul>

                    </div>

                    <div id="lineUp" class="toggleContent" ng-controller="LineUpCtrl">
						<div ng-repeat="player in lineUp">
							<b>
								<a ng-if="player.url" ng-href="{{player.url}}" target="_blank">{{player.name}}</a>
								<span ng-if="!player.url">{{player.name}}</span>
							</b>
							<br>
							— {{player.instruments}}
						</div>
                    </div>

                    <div id="reviews" class="toggleContent" ng-controller="ReviewsCtrl">
						<p ng-repeat="review in reviews">"{{review}}"</p>
                    </div>

                </div><!--pageContent end-->        
            </div><!--pageContentInnerWrapper end-->    
        </div><!--pageContent end-->    
    </div>
</div>

<div class="pageSeparator">
    <div class="pageSeparatorLyrics">
        In just a bit of a while I’ll get a little high &mdash; A little soft, a little dry &mdash; Babe, bah-bye, I’ll get a little high &mdash; And after awhile – a little higher &mdash; Take your time, take mine &mdash; Be my high, be mine &mdash; My oh my, oh tell me why
    </div>
    <a id="network">.</a>
</div>

<div class="page networkPage">
    <div class="innerWrapper">
        <!--<div class="secondNav">
            <span class="toggleLink active" linkto="spreadTheWord">spread the word</span>
            <span class="toggleLink" linkto="contact">contact</span>
        </div>-->
        
        
        <div class="pageContentWrapper">
            <div class="pageContentInnerWrapper  right">
                <div class="pageContent">
                    
                    <div id="spreadTheWord">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			    var js, fjs = d.getElementsByTagName(s)[0];
			    if (d.getElementById(id)) {return;}
			    js = d.createElement(s); js.id = id;
			    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=129022383810266";
			    fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>

			<div class="social_links">
			    <div class="social_wrapper twitter_wrapper">
				<a href="http://www.twitter.com/varonasf"><img src="http://twitter-badges.s3.amazonaws.com/twitter-a.png" alt="Follow varonasf on Twitter"/></a>
			    </div>
			    <div class="social_wrapper fb_wrapper">
				<div class="fb-like-box" data-href="https://www.facebook.com/pages/Varona/19280523056" data-width="205" data-show-faces="false" data-stream="false" data-header="false"></div>
			    </div>
			    <div class="social_wrapper">
				<div class="g-plus" data-href="https://plus.google.com/b/114938413860487312834/114938413860487312834/posts" data-size="badge"></div>
			    </div>
			    <div class="social_wrapper">
				<iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="114" src="http://platform.tumblr.com/v1/follow_button.html?button_type=2&tumblelog=varonasf&color_scheme=dark"></iframe>
			    </div>
			</div>
                        <div class="mailingList">
                            Join our mailing list:
                            <!-- BEGIN: Constant Contact Basic Opt-in Email List Form -->
                            <div align="left">
                                <table border="0" cellspacing="0" cellpadding="3" bgcolor="#ffffff">
                                    <tr>
                                        <td align="left">
                                            <form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:2;">
                                                <input type="hidden" name="m" value="1102441164509" />
                                                <input type="hidden" name="p" value="oi" />
                                                <input id="email" type="text" name="ea" size="20" value="" />
                                                <input type="submit" name="go" value="Go" class="submit" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10pt;" />
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- END: Constant Contact Basic Opt-in Email List Form -->
                            <!-- BEGIN: SafeSubscribe -->
                            <div align="left"> 
                                <a href="http://www.constantcontact.com/safesubscribe.jsp" target="_blank"><img src="http://img.constantcontact.com/ui/images1/safe_subscribe_logo.gif" border="0" width="168" height="14" alt=""/></a>
                            </div>
                            <!-- END: SafeSubscribe -->
                        </div>

                        <!--<p>Each week we will give away one CD for free! To participate, write us at <a href="mailto:varonasf@gmail.com">varonasf@gmail.com</a> and tell us how you helped promote our music. Perhaps you added us to your top 8 on MySpace? Or added our song to your profile? Or emailed your friends telling all about us? Tell us all about it, send the link to your blog, give feedback. We'll randomly select a winner, and if you were very creative, maybe we'll select more than one!</p>
                        <p>You can use this convenient tool to post a link to our website on your blog, Facebook, MySpace, and other places.</p>-->

                        <!--<p>Stay up to date:</p>-->
                        <!--<ul class="varonasWeb">
                            <li><a href="http://www.twitter.com/varonasf" target="_blank"><img src="images/logo-twitter.gif" alt="twitter"/></a></li>
                            <li><a href="http://www.facebook.com/pages/Varona/19280523056" target="_blank"><img src="images/logo-facebook.gif" alt="facebook"/></a></li>
                            <li><a href="http://www.youtube.com/varonasf" target="_blank"><img src="images/logo-youtube.gif" alt="youtube"/></a></li>
                            <li><a href="http://www.last.fm/music/varona/Egoist" target="_blank"><img src="images/logo-lastfm.gif" alt="last.fm"/></a></li>
                            <li><a class="no_indent" href="http://www.myspace.com/varonaband" target="_blank"><img src="images/logo-myspace.gif" alt="Varona's MySpace Page" /></a></li>
                            <li><a href="http://www.ilike.com/artist/Varona/add" target="_blank"><img src="http://www.ilike.com/images/ilike_this_artist.gif" alt="iLike Varona"/></a></li>
                        </ul>-->

                        <!--<p>You can also share our music with your friends by directly embedding our music player to your blog/website. Just copy this code below:</p>

                        <textarea readonly="readonly">
<div>
    <div style="margin: 0; padding: 0 0 0 10px; width: 390px;">
        <a href="http://varonaband.com">Varona</a>'s second album "Egoist". Please spread the word.
    </div>
    <object id="webOrder" type="application/x-shockwave-flash" width="400" height="153" data="http://varonaband.com/audioPlayer/xspf_player_web.swf?playlist_url=">
        <param name="movie" value="http://varonaband.com/audioPlayer/xspf_player_web.swf?playlist_url=" />
    </object>
</div></textarea>-->
		        <p>Drop us a line: <a href="mailto:varonasf@gmail.com">varonasf@gmail.com</a></p>
                    </div>

                    <!--<div id="contact">

                        <div class="managerContact">
                            <div class="header">Management, Booking, Press, &amp; Marketing</div>
                            <div class="managerEmail"><a href="mailto:varonasf@gmail.com">varonasf@gmail.com</a></div>
                        </div>

                        <p>
                            Electronic press kit:
                            <br/>
                            <a href="http://sonicbids.com/varona"><img src="images/logo-sonicbids.gif" alt="Varona's Sonicbids" /></a>
                        </p>

                    </div>-->

                </div><!--pageContent end-->    
            </div><!--pageContentInnerWrapper end-->
        </div><!--pageContentWrapper end-->
    </div>
</div>

<div class="pageSeparator">
    <div class="pageSeparatorLyrics">
        I know a girl. I know her well  &mdash; I like the spell. I like the smell &mdash; But we never had a chance to talk &mdash; I know a man. He’s like a friend &mdash; He wears the brand. He is the brand &mdash; But we never had  a chance to talk &mdash; There is a place, a weird maze &mdash; That knows the face, key to my case &mdash; I know a god. He’s just a god &mdash; He likes to play. He risks a lot &mdash; But we never had a chance to talk &mdash; I have a dream, sweet dream &mdash; Like rocky road I scream &mdash; That they all never get a chance to talk 
    </div>
    <a id="links">.</a>
</div>

<div class="page linksPage">
    <div class="innerWrapper">
        <div class="secondNav">
            <span class="toggleLink active" linkto="musicWeLikePlayer">music we like (video player)</span>
            <span class="toggleLink" linkto="musicWeLikeList">music we like (list)</span>
        </div>
        
        <div class="pageContentWrapper">
            <div class="pageContentInnerWrapper  right">
                <div class="pageContent" ng-cloak>
                    <div class="toggleContent active" id="musicWeLikePlayer">
                        <object width="600" height="332"><param name="movie" value="http://www.youtube.com/cp/vjVQa1PpcFMhJE4CQ6iKu1PcfqDjjVmDwfH1xFIcaQo="></param><embed src="http://www.youtube.com/cp/vjVQa1PpcFMhJE4CQ6iKu1PcfqDjjVmDwfH1xFIcaQo=" type="application/x-shockwave-flash" width="600" height="332"></embed></object>
                    </div>
                    <div class="music toggleContent" id="musicWeLikeList" ng-controller="MusicWeLikeCtrl">
                        We're always searching for new music. If you know a good band and don't see it here, let us know about it! <a href="mailto:varonasf@gmail.com">varonasf@gmail.com</a>
                        <ul>
							<li ng-repeat="band in bands">
								<a ng-href="{{band.url}}" target="_blank">{{band.name}}</a>
							</li>
                        </ul>
                       
                    </div>
                </div><!--pageContent end-->        
            </div><!--pageContentInnerWrapper end-->    
        </div><!--pageContentWrapper end-->    
    </div>
</div>

<div class="pageSeparator">
    <div class="pageSeparatorLyrics">
Crawling over rooftops &mdash; Sliding down the walls &mdash; Underneath the window  &mdash; Crawling down the hall &mdash; Thought I heard you breathing &mdash; Thought I caught your breath &mdash; Breasts slightly rising &mdash; Signs of past intent &mdash; You rise like you’re floating &mdash; You move across the room &mdash; Hinting at the moment &mdash; That comes to greet you now &mdash; Cradled, held, embraced &mdash; Face, silent... &mdash; Awaits a moment now at hand &mdash; Like a worm intention… &mdash; Intentions... intentions... intentions... intentions… &mdash; A mist entangled Moon &mdash; Sits easily around the phallus &mdash; Lovers’ hearts hang hopeful &mdash; On this dark and promising night! &mdash; Intentions… intentions… intentions… intentions… 
    </div>
</div>

<!--<div class="footer">
    <div class="footerDisclaimer">
        All rights and lefts &mdash; Varona band. You have reached the end now. You can <a href="#">go back up</a> or stay here.
    </div>
</div>-->
    
<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=1421883;
var sc_invisible=0;
var sc_partition=11;
var sc_security="f1584dd3";
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a class="statcounter" href="http://www.statcounter.com/"><img class="statcounter" src="http://c12.statcounter.com/1421883/0/f1584dd3/0/" alt="counter statistics" /></a></div></noscript>
<!-- End of Statcounter Code -->

<!-- Start of Google Analytics -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-9100164-1");
        pageTracker._trackPageview();
    }
    catch(err) {}
</script>
<!-- End of Google Analytics -->

</body>
</html>
