body, div, span, p, a, img, ul, li
{
	border: none;
	margin: 0;
	padding: 0;
}

body
{
	background-color: #ffffff;
	font-family: "Times New Roman", arial, sans-serif;
	font-size: 15px;
	height: 100%
	line-height: 1.3em;
}

ul
{
	list-style-type: none;
}

.wholeWrapper
{
	height: 100%;
	min-height: 800px;
	padding-bottom: 50px;
	position: absolute;
	width: 100%;
}

.mainHdr
{
	background-color: #333333;
	height: 50%;
	position: relative;
}

.mainHdr .logo
{
	border-right: 1px solid #ffffff;
	float: left;
	height: 100%;
	position: absolute;
	width: 60px;
}

.mainHdr .logo img
{
	bottom: 0;
	left: 10px;
	position: absolute;
}

.mainHdr .nav 
{ 
	color: #ffffff;
	font-family: arial, sans-serif;
	font-size: 22px;
	padding: 20px 0 0 200px;
	min-width: 500px;
}

.mainHdr .nav li
{
	color: #FBDE40;
	float: left;
	height: 80px;
	width: 25%;
}

.mainHdr .nav li .arrow
{
	padding-left: 5px;
}

.mainHdr .nav a
{
	color: #FBDE40;
}

.mainHdr .content
{
	background: #ffffff;
	border: 1px solid #000000;
	clear: both;
	margin-left: 200px;
	padding: 30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 50%;
	min-width: 440px;
	max-width: 800px;
}

.mainContent
{
	border-top: 1px solid #000000;
	width: 100%;
}

.colums
{
	padding: 30px 30px 0 60px;
	min-width: 650px;
}

.col
{
	float: left;
	width: 33%;
}

.col .hdr
{
	font-size: 17px;
	font-weight: bold;
}

.col .content
{
	padding: 15px 35px 0 0;
}

.footer
{
	background: #333333;
	bottom: 0;
	border-top: 1px solid #000000;
	color: #ffffff;
	height: 18px;
	position: fixed;
	width: 100%;
}

.footer a.email
{
	color: #FBDE40;
	float: left;
	padding-left: 10px;
}

.footer .copyright
{
	float: right;
	padding-right: 10px;
}
